.form {
  display: flex;
  
  margin-left: 50px;  
}

.inputForm {
  display: inline-block;
  font: inherit;

  margin-right: 15px;
  padding-left: 4px;
  padding-right: 4px;

  height: 24px;
  font-size: 20px; 
  
  border: 1px solid rgb(109, 104, 104);
  border-radius: 5px;  
}

.inputForm::placeholder {
  font: inherit;
  font-size: 15px;
}

.inputBtn {
  padding-left: 4px;
  padding-right: 4px;

  width: 100px;
  height: 28px;
  font-size: 20px;
 
  border-radius: 5px;
  border: 1px solid rgb(109, 104, 104);

  cursor: pointer;
}
