.castList {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-top: 50px;
  
  width: 1400px;  
}

.castListItem {
  flex-direction: column;

  margin-bottom: 15px;
  margin-right: 25px;

  list-style: none; 
}
