.reviewsList {
  margin-top: 50px;
  margin-left: 50px;

  max-width: 1400px; 

  list-style: none;  
}

.reviewsListItem {
  margin-bottom: 25px;
}

.noReviews {
  margin-top: 25px;
  margin-left: 50px; 
}
