.container {
  display: flex;
  margin-left: 50px;
}

.description {
  flex-direction: column;
  margin-left: 40px;
  /*margin-left: 30px;*/

  width: 800px; 
}

.btnGoBack,
.infoListItem {
  margin-left: 50px;

  font-size: 18px;
  font-weight: bold;  
  text-decoration: none;
 
  color: #000000;

  cursor: pointer;
  transition: color 250ms;
}

.btnGoBack:hover {
  color: #83c922;
}
.title {
  /*margin-left: 50px;*/
  margin-left: 40px;
}

.info {
  font-size: 20px;
}

.infoListItem {
  margin-top: 10px;

  list-style: none; 
}
